*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#fff;
    color:#222;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    width:100%;
    display:block;
}

button{
    cursor:pointer;
    border:none;
    outline:none;
}

ul{
    list-style:none;
}

.container{
    width:min(1200px,90%);
    margin:auto;
}

.section{
    padding:90px 0;
}