.summary{

background:#FCF8F3;

padding:40px;

border-radius:12px;

position:sticky;

top:100px;

}

.item{

display:flex;

justify-content:space-between;

margin:18px 0;

}

.summary button{

width:100%;

padding:16px;

margin-top:30px;

background:var(--primary);

color:white;

border:none;

cursor:pointer;

border-radius:8px;

font-size:16px;

transition:.3s;

}

.summary button:hover{

background:#9b7424;

}

.summary label{

display:block;

margin-top:15px;

}